<div class="vertical-tabs-container">
  <div class="vertical-tab-content-container">
    <% current_user.goals.sorted.each do |goal| %>
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1"><%= goal.type.name %></a>
      <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
        <p><%= goal.description%></p>
      </div>
    <% end %>

  </div>
</div>
