<h1>Homepage, Homies!</h1>
<div class="item shadow focus" data-id="7817" data-code="3498dbecf0f134495ef1c40f">
  <div class="canvas">
    <div class="place tran c4" style="background-color: rgb(241, 196, 15);"><a></a><span class="tran">#f1c40f</span></div>
    <div class="place tran c3" style="background-color: rgb(52, 73, 94);"><a></a><span class="tran">#34495e</span></div>
    <div class="place tran c2" style="background-color: rgb(236, 240, 241);"><a></a><span class="tran">#ecf0f1</span></div>
    <div class="place tran c1" style="background-color: rgb(52, 152, 219);"><a></a><span class="tran">#3498db</span></div>
  </div>
</div>
