div.main {
  padding: 24px;
  @include flex(4);
  @include media($medium-screen-up) {
    @include flex(3);
    background-color: $base-background-color;
    height: 100vh;
    margin-left: $nav-width;
  }

  div.menu-toggle {
    background: $dark-gray;
    color: $blue-gray;
    float: right;
    margin-bottom: 24px;
    padding: 12px;
    text-align: center;
    width: 96px;

    @include media($medium-screen-up) {
      display: none;
    }

  }
}
