nav.sidenav {
  color: white;
  margin-left: -280px;
  background-color: $third-background-color;
  min-width: $nav-width;
  max-width: $nav-width;
  height: 100vh;
  text-align: center;
  position:fixed;
  @include flex(0);
  @include media($medium-screen-up) {
    margin-left: 0px;

    @include display(flex);
    @include flex(1);
    @include flex-direction(column);
    @include justify-content(space-between);
  }

  header {
    height: 80px;
    background-color: $yellow;
    padding: 20px;
    font-size: 24px;
    font-weight: 800;
  }
  ol{
    @include flex(1);
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 20px;
      text-transform: uppercase;
      padding: 20px;
      font-weight: 600;

      &.coming-soon {
        color: $light-gray;
      }
    }
  }
  footer {
    bottom: 0;
    padding: 12px;
  }
}
