<header>
  <span class="logotype">Tribe Scoreboard</span>
</header>

<ol>
  <li><%= link_to 'Dashboard', dashboard_path %></li>
  <li class="coming-soon">Goals</li>
  <li class="coming-soon">Friends</li>
  <li class="coming-soon">Leaderboard</li>
  <li class="coming-soon">Groups</li>
  <li class="coming-soon">Profile</li>
  <li class="coming-soon">FAQs</li>
  <li class="coming-soon">Invite</li>
</ol>

<footer>
  <% if signed_in? %>
    Signed in as:<br><%= current_user.email %>
    <br>

    <%= link_to 'Sign out', sign_out_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', sign_in_path %>
  <% end %>
</footer>
